events {
    worker_connections 1024;
}

http {
    server {
        listen       {{ ng_lis_port }} default_server;
        server_name  default_server;
        root         /usr/share/nginx/html;

        location / {
        }
    }
}